/* this css file will only style the homepage of our site */

#caitlin-portrait {
  width: 400px;
}

#alice-portrait {
  width: 300px;
}


title {
  font-family: arial, helvetica, sans-serif;
  padding-left: 20px;
  color: #fffaf0;
}

h1 {
  font-family: arial, helvetica, sans-serif;
  color: #fffaf0;
  font-size: 200%;
}

h2 {
  font-family: arial, helvetica, sans-serif;
}

p {
  font-family: arial, helvetica, sans-serif;
  text-indent: 40px;
}

ul {
  
}